@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

body,
#root {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

#root {
  background-color: white;
}
